* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}
@font-face {
    font-family: Font;
    src: url(https://fonts.google.com/specimen/Outfit);
}

body{
    background-color:var(--Lightgray);
    font-family:Font ;
    font-weight: 400;
}

.container{
    display:flex ;
    flex-direction: column;
    margin: 300px auto 0px auto;
    max-width:250px;
    background-color:var(--White);
    border-radius: 15px;
}

.title{
    font-weight: 700;
    color: var(--Darkblue);
}
.sub-title{
    color: var(--Grayishblue);
    display: flex;
    padding-bottom: 20px;
}

img{
    margin:10px;
    border-radius: 8px;
}

.center{
    display:flex;
    justify-content: center;
}
p{
    padding:10px 15px;
    font-size: 15px;
}

@media screen and (max-width:550px) {
    .container{margin-top: 100px;}
}